body{
	font-family: Arial, sans-serif;
	padding: 0;
	margin: 0;
	color: #222222;
}
#menu-icon{
	display: none;
	
	
}
.clearfix:after{
	content:'';
	display: table;
	width: 100%;
	clear: both;
}
div{
	box-sizing: border-box;
}
header {
	background: url(../im/p.jpg) no-repeat center top / cover;

	}
.container{
	width: 980px;
	margin: 0 auto;
}
.logo{
	wider: 200px;
	height: 100px;
	margin-top: 41px;
	margin-left: 50px;
	float: left;
}
nav{
	float: right;
	margin-top: 50px;
}
.menu{
	padding: 0;
	margin: 0;
	display: block;
}
.menu li{
	float: left;
	display: block;
	margin-right: 20px;
	
	}
.menu a, #menu-icon {
	font-weight:bold;
	font-size: 20px;
	text-decoration: none;
	text-transform: uppercase;
	color:#fff;
	
}
.menu a:hover,#menu-icon{
	border-bottom: 3px solid #fff;
}

.pod{
	margin-bottom: 50px;
	margin-top: 70px;
	text-align: center;
	color:gray;
}
h2{
	font-size: 40px;
	font-family: Pristina;
	margin-top: 0.5em;
	text-align: center;
}
.coi1 a:hover{
	border-bottom: 3px solid #191970;
}
.coi1 a{
	font-size: 20px;
	color: #191970;
	text-decoration: none;
	margin-bottom: 15px;
	margin-left: 30px;
}
.coi {
	font-size: 20px;
}
.coi a{
	font-size: 20px;
	color: #0000FF;
	text-decoration: none;
}
.coi a:hover{
	border-bottom: 3px solid #0000FF;
}
p{
	color: #fff;
	display: inline;
}
.so h2{
	font-size:36px;
	color: red;
	padding-top: 30px;
	text-transform: uppercase;
	font-family: Arial;
}
#upbutton {
    background: url("../im/up.png") no-repeat top left;
    height: 61px;
    width: 63px;
    bottom: 30px;
    right: 30px;
    cursor: pointer;
    display: none;
    position: fixed;
    z-index: 999;
  }
 @media(max-width:780px){
	.logo{
	width: 100px;
	height: 80px;
	margin-top: 21px;
	margin-left: 20px;
	float: left;
} 
	 .container{
	width: 100%;
	margin: 0 auto;
	padding-left:5%;
	padding-right:5%;
}
	.menu{
	display: none;
	margin:0;
	padding:0;
	 }
#menu-icon{
	display:block;
	float: right;
	margin-right: 70px;
	margin-top: 50px;
}
nav{
	background: #2b2eed;
	padding-bottom: 10px;
	
	padding-top: 20px;
}
.menu li {
	float: none;
}
.menu a{
	display:block;
	color: #fff;
	font-size: 16px;
	padding-left: 30px;
	border-top: 3px solid #2b2eed;
}
header {
	background: url("../im/p.jpg") no-repeat center top / cover;
	height:100%;
	}
	.button{
	background: #356df0;
	border-radius: 3px;
	color: #484543;
	display: block;
	width: 100px;
	padding: 20px 0;
	margin: 0px auto;
	text-decoration: none;	
	text-align: center;
	font-weight: bold;
	font-size: 12px;
	margin-top: 25px;
	margin-bottom: 10px;
	h2{
	font-size: 20px;
	font-family: Pristina;
	margin-top: 0.5em;
	text-align: center;
}
}
  }
  @media(max-width:480px){
	  
	  	  .menu{
		display: none;
	margin:0;
	padding:0;
	 }
#menu-icon{
	display:block;
	float: right;
	margin-right: 70px;
	margin-top: 50px;
}
nav{
	background: #2b2eed;
	padding-bottom: 10px;
	
	padding-top: 20px;
}
.menu li {
	float: none;
}
.menu a{
	display:block;
	color: #fff;
	font-size: 16px;
	padding-left: 30px;
	border-top: 3px solid #2b2eed;
}
	  
	  body{
	font-family: Arial, sans-serif;
	padding: 0;
	margin: 0;
	color: #222222;
}
.clearfix:after{
	content:'';
	display: table;
	width: 100%;
	clear: both;
}
div{
	box-sizing: border-box;
}
header {
	background: url(../im/p.jpg) no-repeat center top / cover;

	}
.container{
	width: 80%
	padding-left:5%;
	padding-right:5%;
}
.logo{
	width: 100px;
	height: 80px;
	margin-top: 21px;
	margin-left: 30px;
	float: left;
}

.pod{
	margin-bottom: 30px;
	margin-top: 50px;
	text-align: center;
	color:gray;
}
h2{
	font-size: 20px;
	font-family: Pristina;
	margin-top: 0.5em;
	text-align: center;
}

.coi1 a{
	font-size: 20px;
	color: #191970;
	text-decoration: none;
	margin-bottom: 15px;
	margin-left: 20px;
}
.coi {
	font-size: 18px;
}
.coi a{
	font-size: 18px;
	color: #0000FF;
	text-decoration: none;
}
.coi a:hover{
	border-bottom: 3px solid #0000FF;
}
p{
	color: #fff;
	display: inline;
}
.so h2{
	font-size:20px;
	color: red;
	padding-top: 30px;
	text-transform: uppercase;
	font-family: Arial;
}
#upbutton {
    background: url("../im/up.png") no-repeat top left;
    height: 61px;
    width: 63px;
    bottom: 30px;
    right: 30px;
    cursor: pointer;
    display: none;
    position: fixed;
    z-index: 999;
  }
  }